* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  word-break: keep-all;
}

#nfHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.netflix-logo {
  height: 45px;
  width: 167px;
  vertical-align: middle;
  margin: 0 36.375px;
}

.login-link {
  width: 48px;
  height: 75px;
  display: flex;
  margin: 0 23.488px;
  align-items: center;
  color: #333;
  font-weight: 500;
  font-size: 16px;
}
