* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  word-break: keep-all;
}

#nf-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.home-link {
  margin: 20px;
}

.netflix-logo {
  height: 45px;
  width: 167px;
  vertical-align: middle;
  margin: 0 36.375px;
}

.login-link {
  width: 90px;
  height: 57px;
  float: right;
  margin: 0 23.488px;
  font-size: 19px;
  font-weight: 500;
  color: #333;
  line-height: 57px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* 100% 화면 너비 */
  height: 100vh; /* 100% 화면 높이 */
  overflow: hidden;
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600.2px;
  height: 720.8px;
  background-color: red;
  padding: 20px 60px 32px 32px; /* 상, 우, 하, 좌 */
  margin-bottom: 15px;
}

.footer-wrap {
  height: 345.6px;
  color: #737373;
  font-size: 1em;
  margin-top: 80px;
  min-width: 190px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  background-color: #f3f3f3;
  opacity: 1;
}
