* {
  margin: 0;
  padding: 0;
}

#Allpoint {
  background-color: transparent;
  color: #fff;
  height: 100%;
}

div {
  display: block;
}

.login-background {
  position: relative;
}

.login-background .background-img {
  /*width: 1905px;*/
  width: 2000px;
  /*width: 2560px;*/
}

/*header*/
.login-background .Elfheader {
  position: absolute;
  top: 18px;
  left: 2.55%;
  width: 100%;
}

.login-background .Elfheader a {
  /*position: relative;
  left: 1553px;
  top: -25.5px;*/
  position: absolute;
  top: 14px;
  right: 5.4%;

  width: 60px;

  color: #d32f27;
  text-decoration-line: none;

  font-size: 19.3px;
}

.login-background .Elfheader a:hover {
  text-decoration-line: underline;
}
/*main*/

.login-main .loginBody .login-content {
  position: absolute;
  top: 90px;
  left: 38.2%;

  width: 460px;
  height: 473px;
  background-color: #f3f3f3;
  border-radius: 3px;
  color: #313034;
}

.login-main .loginBody .login-content .re-Login {
  /*background-color: aqua;*/
  width: 380px;

  position: relative;
  top: 42px;
  left: 40px;
}

.login-main .loginBody .login-content .re-Login .re-Login-header {
  font-weight: normal;
  margin-bottom: 20px;
}

.login-main .loginBody .login-content .re-Login .re-Login-subheader {
  margin-bottom: 17px;
}
.login-main .loginBody .login-content .re-Login .Choice-container .select {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 12px;
}

.login-main
  .loginBody
  .login-content
  .re-Login
  .Choice-container
  .select
  .radio {
  margin-bottom: 3px;
}

.login-main
  .loginBody
  .login-content
  .re-Login
  .Choice-container
  .select
  .radio
  label {
  position: relative;
  top: -6px;
  left: 3px;
}

.login-main .loginBody .notRobot {
  position: absolute;
  top: 600px;
  left: 38.2%;

  color: #999b98;
}

/*에러 메시지 디자인*/
/*.error-style {*/
/*background-color: #f8d7da; */ /* 연한 색 배경으로 변경 */
/*border-color: #f5c6cb;*/ /* 연한 색 테두리로 변경 */
/*color: #721c24; */ /* 연한 색 텍스트로 변경 */
/*}*/
/*이메일로 비번찾기*/
.email-select p {
  margin-bottom: 15px;
}

#forgot-pw-input {
  width: 370px;
  height: 30px;
  font-size: 15px;

  margin-bottom: 8px;
}

.email-select .imail-receive {
  background-color: #357aef;

  width: 380px;
  height: 50px;
  margin-top: 13px;
  margin-bottom: 0px;

  border: none;
  outline: none;
  border-radius: 2px;

  color: white;
  font-weight: normal;
  font-size: 19px;
}

.email-select .message-error {
  color: #a93327;
  font-size: 12px;
  margin-top: -8px;
}

.email-select .imail-receive.error {
  background-color: #93b3ec; /* 연한 색상으로 변경 가능 */
}

.email-select .ui-input.error {
  border: 1px solid #a93327;
}

/*문자로 비번 찾기*/
.sms-select p {
  margin-bottom: 15px;
}

.input-container {
  position: relative;
  display: flex;
  /*align-items: center;*/

  height: 45px;
  width: 330px;
}

.sms-select .error-message {
  color: #a93327;
}

.sms-select .ui-input.error {
  border: 1px solid #a93327;
}

.error-message {
  position: absolute;
  bottom: -20px; /* 에러 메시지와 입력 텍스트 간의 간격을 조절 */
  color: #a93327; /* 에러 메시지 색상 */
  display: none; /* 초기에는 에러 메시지를 숨김 */
  /* 다른 스타일 속성들을 필요에 따라 추가하세요. */
}

/*문자로 비번찾기 - input box*/
/*문자로 비번찾기 - 드롭박스*/

.sms-select {
  position: relative;
}

.ui-input {
  /*input text 박스*/
  width: 300px;
  height: 30px;
  padding: 5px;

  border: 1.5px solid #c2c2c2;

  position: relative;
  left: -10px;
}

.error-message {
  position: absolute;
  bottom: -15px;
  left: 100px;

  font-size: 12px;
  color: red;
  display: none;
}

.dropdown {
  margin-left: 10px;
  width: 135px;
  height: 42px;

  border: 1px solid #c2c2c2;
  border-right: 0px;

  position: relative;
  left: -10px;
}

#receive-button {
  background-color: #357aef;

  width: 380px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 0px;

  border: none;
  outline: none;
  border-radius: 2px;

  color: white;
  font-weight: normal;
  font-size: 19px;
}

/* 버튼 스타일과 에러 스타일은 이전과 동일하게 유지합니다. */

/*설명*/
.notRobot p {
  display: flex;
}

.notRobot p .notRobot-detail {
  background-color: transparent;
  /*color: rgb(79, 105, 255);*/
  color: #999b98;
  border: 0px;
  text-decoration-line: underline;

  position: relative;
  top: 0px;
  left: 2px;

  font-size: 14px;
}

.notRobot .notRobot-disclosure {
  width: 320px;
  font-size: 14px;

  position: relative;
  top: 0px;
  right: -71px;
}

/*footer*/
.footer-wrap {
  /*height: 345.6px;*/
  height: 500px;
  /*min-width: 190px;*/
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  opacity: 1;

  position: absolute;
  top: 750px;
  /*height: 33.1%;*/
  background-color: rgb(0, 0, 0, 0.7);
  color: #aaa;
}

.footer-wrap a {
  color: #aaa;
  position: relative;
}

.nf-footer {
  margin-left: 410px;
  margin-bottom: 0px;
  padding-top: 70px;
}

.nf-footer-top {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-top {
  display: inline;
  white-space: nowrap;
}

.footer-top-a {
  margin-left: 5px;
  /*text-decoration: none;*/
}

/*.footer-top-a:hover {
    text-decoration: underline;
  }*/

.footer-link {
  width: 176px;
  height: 17px;
  font-size: 16px;
}

.nf-footer-link-container {
  display: flex;
  flex-wrap: wrap;
}

#first,
#second,
#third,
#fourth {
  justify-content: space-between;
}
#fifth,
#sixth {
  justify-content: flex-start;
}

.footer-link {
  list-style-type: none;
  /*width: calc(
      33.333% - 20px
    );*/ /* 각 요소의 너비를 33.333%로 설정, 좌우 여백을 줄여줌 */
  width: calc(25% - 20px);
  margin-bottom: 30px;
  /*font-size: 13px;*/
}

.footer-link a {
  /*text-decoration: none;*/
  display: inline-block;
  position: relative; /* hover 상태일 때 ::after 가상 요소의 위치를 설정하기 위해 relative로 설정 */
}

.footer-link a:hover {
  text-decoration: underline;
}

.language-picker {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 130px;
  height: 38px;
  font-size: 16px;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}

.language-picker option {
  font-size: 16px;
}

.language-picker option[value="korean"] {
  content: "한국어";
}

.language-picker option[value="english"] {
  content: "English";
}

.copy-text {
  font-size: 0.85em;
  line-height: 1em;

  margin-top: 20px;
}

.copy-text > div:not(:first-child) {
  margin-top: 4px;
}

.copy-text > div:first-child {
  margin-top: 20px;
}
